div.about_wrapper {
	padding: 2%;
	font-size: 1.3rem;
}

div.about_wrapper div {
	margin: 1% 0% 1% 0%;
}

div.about_wrapper div.license_attributions {
	margin: 1% 0% 0.3% 0%;
}

ul.license_attributions {
	font-size: 0.9rem;
}