div.instructions_wrapper {
  background-color: #8beaa5;
  margin: 0px;
  padding: 1.7rem;
}

div.instructions_wrapper h1 {
  font-size: 2.2rem;
}

div.instructions_wrapper ul li {
  font-size: 1.3rem;
}

div.instructions_wrapper button {
  font-size: 1.4rem;
}

div.instructions_wrapper ul li img {
  max-width: 3%;
}

div.instructions_wrapper ul li img.logo_in_instructions {
  max-width: 8%;
}

div.instructions_checkbox {
	margin-bottom: 2rem;
}

div.instructions_checkbox ul {
	list-style: none;
}

div.instructions_checkbox ul li {
	font-size: 1rem;
}

div.instructions_checkbox ul li span {
	margin-left: 0.5%;
}