div.instructions_wrapper {
  background-color: #8beaa5;
}

div.instructions_wrapper h1 {
  font-size: 2.8em;
}

div.instructions_wrapper ul li {
  font-size: 1.7em;
}

div.instructions_wrapper button {
  font-size: 1.8em;
}

div.instructions_wrapper ul li img {
  max-width: 3%;
}