div.learning_wrapper {
	margin-top: 2%;
	padding: 2%;
	font-size: 1.3rem;
}

p.dumpster_info_title {
	font-weight: bold;
	font-size: 1.9rem;
	margin-top: 1%;
	margin-bottom: 2%;
}

p.dumpster_subtitle {
	font-weight: bold;
	font-size: 1.4rem;
	margin-bottom: 0px;
}