div.product_wrapper {
  text-align: center;
}

div.product_wrapper div.product_title {
  font-size: 1.7rem;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

div.product_wrapper div.product_img_wrapper img {
  height: 250px;
  margin-top: 0px;
  margin-bottom: 1px;
  border: 2px solid black;
}

@media (max-width: 1100px) {
  div.product_wrapper div.product_img_wrapper img {
    height: 180px;
  }
}

@media (max-width: 800px) {
  div.product_wrapper div.product_img_wrapper img {
    height: 150px;
  }
}

@media (max-width: 700px) {
  div.product_wrapper div.product_img_wrapper img {
    height: 120px;
  }
}

@media (max-width: 600px) {
  div.product_wrapper div.product_img_wrapper img {
    height: 100px;
  }
}

@media (max-width: 500px) {
  div.product_wrapper div.product_img_wrapper img {
    height: 85px;
  }
}