div.quizHeader p {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}

div.question div.questionButtonsWrapper {
  padding: 10px;
}

div.question div.questionButtonsWrapper button.answerQuestion, div.question div.questionButtonsWrapper button.resetQuestion, div.question div.questionButtonsWrapper button.resetQuiz, div.question div.questionButtonsWrapper button.nextQuestion {
  padding: 10px;
  margin-left: 10px;
  color: black;
  background: white;
  border: 2px solid black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

div.question div.questionButtonsWrapper button[disabled]{
  color: gray;
  border: 2px solid gray;
  cursor: default;
}